body {
	background-image: url(../images/bg-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -200px 0px;
	color: white;
	background-color: black;
	font-family: futura;
	font-weight: bolder;
}
h1 {
	color: #AC1C16; /*#AA1B16;*/
	font-size: 50px;
	font-weight: 900;
	margin: 0;
	text-shadow: 2px 2px black;
}

 h2 {
 	font-size: 20px;
 }

 h3 {
 	margin: 0;
 	text-shadow: 1px 1px black;
 	color: #AC1C16;
 	font-size: 20px;
 }

#logo {
	width: 25%;
}

#logo_center {
	margin: 20px auto;
	text-align: center;
}

#nakatomi {
	width: 5%;
}

.square {
	height: 75px;
	width: 75px;
	border: 4px solid white;
	color: white;
	display: inline-block;
	margin: 2px;
	border-radius: 5px;
	cursor: pointer;
}

.square:hover{
	background-color: #EEEEEE;
    border: 4px solid black;	
}


.box {
	width: 270px;
	margin: 20px auto;
	float: left;
}
#right_window {
	width: 290px;
 	float: left;
 	padding-left: 20px;
}

#left_window {
	width: 290px;
	float: left;
	padding-right: 20px; 
}

#game_container{
	margin: 0 auto;
	width: 900px;
}

.markerx {
	background-image: url(../images/player_one.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.markero {
	background-image: url(../images/player_two.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
input {
	width: 60%;
	font-family: futura;
	padding: 5px;
	border-radius: 2px;
}
#status {
	text-shadow: 1px 1px black;
	font-size: 15px;
	color: #AC1C16;
/*	display: inline-block;*/
	text-align: center;
}

.status-image {
	width: 91%;
}
.clear {
	clear: both;
}

.team_button {
	padding: 20px;
	font-size: 15px;
	font-family: futura;
	color: white;
	background-color: #AC1C16;
	margin: 10px;
	font-weight: bolder;
	width: 50%;
	border: 1px solid black;
	text-shadow: 1px 1px black;
	text-align: center;
	cursor: pointer;
}

.team_button:hover {
	background-color: #550D0B;
	outline: none;
}

.rectangle_button {
	font-size: 15px;
	font-family: futura;
	color: black;
	background-color: #EEEEEE;
	font-weight: bolder;
	text-shadow: 1px 1px black;
	text-align: center;
	height: 85px;
	width: 265px;
	border: 4px solid black;
	cursor: pointer;
	outline: none;
}

.rectangle_button:hover {
	background-color: #777777;
	outline: none;
}

#team_mcclane {
	width: 30%;
	float: left;
	border: 2px solid white;
	margin-top: 10px;
	outline: none;
}
#team_gruber {
	width: 30%;
	float: left;
	border: 2px solid white;
	margin-top: 10px;
	outline: none;
}