<!DOCTYPE html>
<html ng-app="tictactoeApp">
<head>
	<title>Die Hard: Tic Tac Toe</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/angular.min.js"></script>

	<script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	
	<script src="js/test.js"></script>

	<!--<script src="js/main.js"></script>
	<script src="js/TictactoeController.js"></script>-->
</head>
	<body>

	<div ng-controller="TictactoeController">

	<div id="logo_center">  	
	<img id="logo" src="images/logo.png"> 
	<h1><strong>TIC TAC TOE</strong></h1> 
	<h3>Welcome To Nakatomi Plaza</h3><img src="images/nakatomi.jpg" id="nakatomi">	
	<div>

	<div id="game_container">

	<div id="left_window">
		<h3>{{choose}}</h3>
    	<img id="team_mcclane" src="images/team_mcclane.jpg">
    	<button class="team_button" ng-click="joinTeam('McClane');">TEAM MCCLANE</button>
     <div class="clear"></div>
    	<img id="team_gruber" src="images/team_gruber.jpg">
    	<button class="team_button" ng-click="joinTeam('Gruber');">TEAM GRUBER</button>
    	<br>
    	<br>
    	<h3 ng-show="team.length > 0">Your Team: <br> {{team}}</h3>
	</div>	

	
	<div class="box">  
		<button class="rectangle_button" ng-click="startGame();">START GAME</button>
	<div ng-repeat="r in row" class="square" ng-class="r.className" ng-click="changeClass(r);">
	</div> 
		<button class="rectangle_button" ng-click="newGame();">NEW GAME</button>
    </div>

    <div id="right_window">
    		<h2 id="status">{{status}}</h2>
			<br>
			<img ng-src="{{source}}" ng-show="status.length > 0" class="status-image">
			<h2 ng-show="status.length >0">{{gameOver}}</h2>
    </div>

    </div>

  </div>


	</body>
</html>